extends layout.pug

block content
  div.container(style='text-align:center')
    img(data-img='/res/void_cat.png' style='width:20rem;max-width:100rem;margin:0 auto;display: block;')
    h3 (the void cat pays its respects)
    p The path &quot;#{url}&quot; doesn't exist. Return 
      a(href='/') home
      |  or survey the 
      a(href='/gallery') gallery
      | .
