extends layout.pug

block content
  div.container
    h1 You're lost. Or we messed up.
    p The path &quot;#{url}&quot; doesn't exist.
    p Return 
      a(href='/') home
      | .  Survey the 
      a(href='/gallery') gallery
      | .
