extends layout.pug

block content
  div.container
    img(style='float:right;width:15rem;max-width:40vw;' data-img='/art/cover.png')
    p Hi. I am this guy uwu &rarr;
    p ~Juliet 
      em uwu
      |  Lam the weirdo

    hr
    p
      strong from the website ninja: 
      | hi, i'm jonathan lam! check out 
      a(href='https://www.github.com/jlam55555') my github
      |  or 
      a(href='http://www.lambdalambda.ninja') my website
      |  to see more of my work. i contributed to the 
      a(href='https://github.com/jlam55555/veikk-s640-driver') linux driver for the veikk s640
      |  that helped make some of this art possible. for inquiries/rants/suggestions about this website, please contact the code ninja at 
      a(href='mailto:jonlamdev@gmail.com') jonlamdev@gmail.com
      | . this website is certified organic (no JS frameworks were used in the production of this site, but in hindsight that would probably have been a smart move).
