extends layout.pug

block content
  div.jumbotron.lander
    div.container
      div.lander-img
        img(data-img='/art/caaake.png' title='I\'m watching you')
      div.lander-text
        h1.lander-title(style='font-weight:normal') catcake
        h3(style='font-weight:normal') Juliet Lam
        img.lander-text-img(data-img='/art/caaake.png' title='I\'m watching you')
        hr
        p
          a(href='/gallery') Gallery
          |  | 
          a(href='/about') About
  div.jumbotron.lander-hint
    h3 hi there! navigation bar is up top
    h3 scroll down to see recent works
    h1 &#x2304;&#x2304;
  each idatum in idata
    a.jumbotron(data-bgimg=`/art/${idatum.filename}` href=`/peruse/${idatum.perma}`)
