doctype 5
html(lang='en')
  head
    title catcake | #{title}

    // css -- mobile-first (but includes other styles too)
    link(rel='stylesheet' href='/css/mobile.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:400i,400&display=swap')

    script(src='/js/main.js' defer)
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
  body
    nav.nav-bar
      div.nav-close.ui-interact(title='Toggle menu')
        div.bgtext
      a.nav-item.no-underline.ui-interact(href='/')
        h1.bgtext Home
        div.bg-light
        div.bgimg.bgfill(data-bgimg='/art/iphone_case.png')
      a.nav-item.no-underline.ui-interact(href='/gallery')
        h1.bgtext Gallery
        div.bg-light
        div.bgimg.bgfill(data-bgimg='/art/piano_cat.png')
      a.nav-item.no-underline.ui-interact(href='/about')
        h1.bgtext About
        div.bg-light
        div.bgimg.bgfill(data-bgimg='/art/jane_by_mom.png')
    block content
    div.footer
      div.container
        p
          a(href='/') Home
          |  | 
          a(href='/gallery') Gallery
          |  | 
          a(href='/about') About
        p catcake | An Art Collection
        p Copyright &copy; 2020 Juliet Lam
        p
          a(href='https://www.github.com/jlam55555/catcake' target='_blank') Website design by Jonathan Lam
        br
        small (the menu is in the northeast)
