/* main css file for mobile (vertical) orientation layout */
/* minimum supported size: iPhone 5 (320x568), in both orientations */

/* note that 100% width is often used a.o.t. 100vw, since */
/* vw doesn't account for scrollbar width */

/* document styles */
body, html {
  margin: 0;
  padding: 0;

  /* setting 1rem */
  font-size: 16px;
  font-family: lato, sans-serif;
  min-width: 320px;
  min-height: 320px;
}
html::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
    
  background-image: url(/res/bg_repeat2.png);
  background-repeat: repeat;
  background-size: 100px;
}
body {
  display: flex;
  flex-direction: column;
}

/* generic tag styles */
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}
a:not(.jumbotron):not(.no-underline) {
  border-bottom: 5px solid yellow;
}
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  line-height: 1.5;
}
hr {
  width: 15rem;
  margin: 1em 0;
  height: 0.25rem;
  background-color: black;
  border: none;
}

/* common classes */
.jumbotron {
  display: block;
  width: 100%;
  height: 75vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.jumbotron-fit {
  background-size: contain;
}
.bgfill {
  position: absolute;
  top: 0;
  left: 0;
}
.bgimg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bgimg-fit {
  background-size: contain;
}
.bgtext {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bg-dark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.7);
}
.bg-light {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.7);
}
.bg-greyish {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #bdf;
}
.container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.radio-hidden {
  display: none;
}
.ui-interact {
  cursor: pointer;
}

/* ui elements */
.nav-bar, .search-bar {
  height: 100vh;
  width: 100%;
  position: fixed;
  right: calc(3rem - 100%);
  top: calc(3rem - 100vh);
  overflow: hidden;
  z-index: 10;
  color: #444;
  
  display: flex;
  flex-direction: column;
}
.nav-bar.open, .search-bar.open {
  right: 0;
  top: 0;
}
.nav-bar>.nav-close, .search-bar>.search-close {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 3rem;
  height: 3rem;
  z-index: 11;
}
.nav-bar.open>.nav-close, .search-bar.open>.search-close {
  left: auto;
  bottom: auto;
  top: 0;
  right: 0;
}
.nav-bar>.nav-close>div::before {
  content: '\2632'; /* trigram for fire */
}
.nav-bar.open>.nav-close>div::before {
  content: '\2715'; /* unicode close/cross/times */
}

/* nav-bar contents */
.nav-bar>.nav-item {
  flex: 0 0 calc(100vh / 3);
  height: calc(100vh / 3);
  position: relative;
}
.nav-bar>.nav-item>h1 {
  font-weight: normal !important;
}
.nav-bar>.nav-item>.bgfill {
  z-index: -2;
}

/* search-bar differences/contents */
.search-bar {
  top: calc(6rem - 100vh);
  z-index: 9;
  background-color: #fff;
}
.search-bar.open>.search-close {
  top: 3rem;
}
.search-bar>.search-close>div::before {
  content: '\2699'; /* trigram for fire */
}
.search-bar h3 {
  font-weight: normal;
  margin-bottom: 0.5rem;
}
.search-bar>.container {
  padding: 0.75rem 1rem;
}
.search-bar>.container:nth-child(2n) {
  background-color: #ddd;
}
.search-bar .search-sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-bar .search-sort>label,
.search-bar input, 
.search-bar button {
  background-color: #eee;
  padding: 0.5rem;
  border-radius: 0.25rem;
  flex: 0 1 0;
  border: none;
  outline: none;
  height: auto;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
.search-bar .search-sort>label:hover,
.search-bar .search-sort>label:active,
.search-bar input:hover, .search-bar input:focus, 
.search-bar button:hover, .search-bar button:active {
  background-color: white;
}

/* specific elements */
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gallery-art {
  height: 30vh;
  width: 50%;
}
.footer {
  text-align: right;
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
  height: 100vh;
}
.lander {
  height: 100vh;
  font-size: 2rem;
}
.lander .container {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0 1em;
}
.lander-img {
  display: none;
}
.lander-text {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lander-text > hr {
  display: none;
}
.lander-text-img {
  width: 100%;
  max-width: 15rem;
  margin: 1rem 0;
}

/* orientation: landscape */
@media only screen and (orientation: landscape) {
  /* ui elements: search and nav bars */
  .nav-bar {
    flex-direction: row;
  }
  .nav-bar>.nav-item {
    height: 100%;
    flex: 1 0 0;
  }
  
  /* search bar-specific styles */
  .search-bar {
    flex-wrap: wrap;   
  }
  .search-bar>.container {
    flex: 0 0 calc(100vh - 6rem);
    height: calc(100vh - 6rem); /* height necessary for iOS safari */
    width: 50%;
  }
  .search-bar>.search-query-container, .search-bar>.search-update-container {
    flex: 0 0 6rem;
    height: 6rem;
  }
  .search-bar>.search-sort-container {
    order: 4;
  }
  
  /* specific elements (e.g., gallery, landing area) */
}
